<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.ride.web.dao.GetwayDao">
    <resultMap id="getwayResult" type="Getway">
        <id property="getwayId" column="GetwayId"/>
        <result property="getwayMark" column="GetwayMark"/>
        <result property="spareNode" column="SpareNode"/>
        <result property="nodeNum" column="NodeNum"/>
        <result property="nowTemper" column="NowTemper"/>
        <result property="nowHumidity" column="Humidity"/>
        <result property="status" column="Status"/>
        <result property="timeInter" column="TimeInter"/>
        <result property="memo" column="Memo"/>
    </resultMap>

    <insert id="addGetway">
        INSERT INTO Getway
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="getway.getwayMark != null">GetwayMark,</if>
            <if test="getway.spareNode != null">SpareNode,</if>
            <if test="getway.nodeNum != null">NodeNum,</if>
            <if test="getway.status != null"><![CDATA[Status]]>,</if>
            <if test="getway.nowTemper != null">NowTemper,</if>
            <if test="getway.nowHumidity != null">Humidity,</if>
            <if test="getway.timeInter != null">TimeInter,</if>
            <if test="getway.memo != null">Memo,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="getway.getwayMark != null">#{getway.getwayMark},</if>
            <if test="getway.spareNode != null">#{getway.spareNode},</if>
            <if test="getway.nodeNum != null">#{getway.nodeNum},</if>
            <if test="getway.status != null">#{getway.status},</if>
            <if test="getway.nowTemper != null">#{getway.nowTemper},</if>
            <if test="getway.nowHumidity != null">#{getway.nowHumidity},</if>
            <if test="getway.timeInter != null">#{getway.timeInter},</if>
            <if test="getway.memo != null">#{getway.memo},</if>
        </trim>
        ;
    </insert>
    <update id="updateGetway">
        UPDATE Getway SET
        <trim suffixOverrides=",">
            <if test="getway.getwayMark != null">GetwayMark = #{getway.getwayMark},</if>
            <if test="getway.spareNode != null">SpareNode = #{getway.spareNode},</if>
            <if test="getway.nodeNum != null">NodeNum = #{getway.nodeNum},</if>
            <if test="getway.status != null">Status = #{getway.status},</if>
            <if test="getway.nowTemper != null">NowTemper = #{getway.nowTemper},</if>
            <if test="getway.nowHumidity != null">Humidity = #{getway.nowHumidity},</if>
            <if test="getway.timeInter != null">TimeInter = #{getway.timeInter},</if>
            <if test="getway.memo != null">memo = #{getway.memo},</if>
        </trim>
        WHERE GetwayId = #{getway.getwayId};
    </update>

    <update id="updateTemperAndHumidity">
        UPDATE Getway
        SET NowTemper = #{temper}, Humidity = #{humidity}
        WHERE GetwayId = #{getwayId};
    </update>

    <update id="updateGetwayByMark">
        UPDATE Getway SET
        <trim suffixOverrides=",">
            <if test="getway.spareNode != null">SpareNode = #{getway.spareNode},</if>
            <if test="getway.nodeNum != null">NodeNum = #{getway.nodeNum},</if>
            <if test="getway.status != null">Status = #{getway.status},</if>
            <if test="getway.nowTemper != null">NowTemper = #{getway.nowTemper},</if>
            <if test="getway.nowHumidity != null">Humidity = #{getway.nowHumidity},</if>
            <if test="getway.timeInter != null">TimeInter = #{getway.timeInter},</if>
            <if test="getway.memo != null">memo = #{getway.memo},</if>
        </trim>
        WHERE GetwayMark = #{getway.getwayMark};
    </update>

    <delete id="deleteById">
        DELETE FROM Getway
        WHERE GetwayId = #{id};
    </delete>

    <delete id="deleteByMark">
        DELETE FROM Getway
        WHERE GetwayMark = #{mark}
    </delete>

    <select id="findById" resultMap="getwayResult">
        <choose>
            <when test="userType == 0">
                SELECT *
                FROM Getway
                WHERE GetwayId = #{getwayId}
            </when>
            <when test="userType == 1 || userType == 2">
                SELECT g.* FROM Getway g, Unit u, Rent r WHERE r.GetwayId = g.GetwayId AND u.UnitId = r.UnitId
                AND GETDATE() BETWEEN r.StartTime AND r.EndTime AND r.UnitId = #{unitId} AND g.GetwayId =
                #{getwayId}
            </when>
        </choose>

    </select>

    <select id="findByMark" resultMap="getwayResult">
        <choose>
            <when test="userType == 0">
                SELECT *
                FROM Getway
                WHERE GetwayMark = #{mark}
            </when>
            <when test="userType == 1 or userType == 2">
                SELECT g.* FROM Getway g, Unit u, Rent r WHERE r.GetwayId = g.GetwayId AND u.UnitId = r.UnitId
                AND GETDATE() BETWEEN r.StartTime AND r.EndTime AND r.UnitId = #{unitId} AND GetwayMark =
                #{mark}
            </when>
        </choose>
    </select>

    <select id="list" resultMap="getwayResult">
        <choose>
            <when test="userType == 0">
                SELECT *
                FROM Getway
            </when>
            <when test="userType == 1 or userType == 2">
                SELECT g.* FROM Getway g, Unit u, Rent r WHERE r.GetwayId = g.GetwayId AND u.UnitId = r.UnitId
                AND GETDATE() BETWEEN r.StartTime AND r.EndTime AND r.UnitId = #{unitId}
            </when>
        </choose>

    </select>

    <select id="listSubNode" resultMap="io.ride.web.dao.NodeDao.nodeResult">
        SELECT Node.*
        FROM Getway
            INNER JOIN Node ON Getway.GetwayId = Node.GetwayId
        WHERE Node.GetwayId = #{id}
    </select>

    <select id="isExists" resultType="java.lang.Boolean">
        SELECT COUNT(1)
        FROM Getway
        WHERE GetwayMark = #{mark}
    </select>
    <select id="listSubNodeByNodeMark" resultMap="io.ride.web.dao.NodeDao.nodeResult">
        SELECT Node.*
        FROM Getway
            INNER JOIN Node ON Getway.GetwayId = Node.GetwayId
        WHERE Getway.GetwayMark = #{mark}
    </select>

    <select id="search" resultMap="getwayResult">
        <choose>
            <when test="userType == 0">
                SELECT * FROM Getway WHERE GetwayMark LIKE '%${arg}%'
            </when>
            <when test="userType == 1 or userType == 2">
                SELECT g.* FROM Getway g, Rent r, Unit u WHERE g.GetwayId = r.GetwayId AND r.UnitId = u.UnitId
                AND (g.GetwayMark LIKE '%${arg}%' OR (GETDATE() BETWEEN r.StartTime AND r.EndTime AND u.title
                LIKE '%${arg}%'))
            </when>
        </choose>
    </select>

</mapper>