<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.ride.web.dao.RentDao">
    <insert id="add">

        INSERT INTO Rent
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="rent.getwayId != null">GetwayId,</if>
            <if test="rent.unitId != null">UnitId,</if>
            <if test="rent.startTime != null">StartTime,</if>
            <if test="rent.endTime != null">EndTime,</if>
            <if test="rent.pay != null">Pay,</if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="rent.getwayId != null">#{rent.getwayId},</if>
            <if test="rent.unitId != null">#{rent.unitId},</if>
            <if test="rent.startTime != null">#{rent.startTime},</if>
            <if test="rent.endTime != null">#{rent.endTime},</if>
            <if test="rent.pay != null">#{rent.pay},</if>
        </trim>
    </insert>

    <update id="update">
        UPDATE Rent SET
        <trim suffixOverrides=",">
            <if test="rent.startTime != null">StartTime = #{rent.startTime},</if>
            <if test="rent.endTime != null">EndTime = #{rent.endTime},</if>
            <if test="rent.pay != null">Pay = #{rent.pay},</if>
        </trim>
        WHERE RentId = #{rent.RentId}
    </update>

    <update id="updateStatus">
        UPDATE Rent
        SET Status = (CASE WHEN CURRENT_TIME > EndTime
            THEN 0
                      WHEN CURRENT_TIME <![CDATA[<]]> StartTime
                          THEN 2
                      ELSE 1 END)
        WHERE RentId = #{id}
    </update>

    <delete id="delete">
        DELETE FROM Rent
        WHERE RentId = #{id}
    </delete>

    <select id="list" resultType="io.ride.web.entity.Rent">
        SELECT *
        FROM Rent
    </select>

    <select id="listWithUnit" resultType="io.ride.web.entity.Rent">
        SELECT *
        FROM Rent
        WHERE UnitId = #{unitId}
    </select>
    <select id="findByTime" resultType="io.ride.web.entity.Rent">
        SELECT *
        FROM Rent
        WHERE (#{startTime} BETWEEN StartTime AND EndTime)
              OR (#{endTime} BETWEEN StartTime AND EndTime)
    </select>

    <select id="findByRentId" resultType="io.ride.web.entity.Rent">
        SELECT *
        FROM Rent
        WHERE RentId = #{rentId}
    </select>
    <select id="findByGetwayIdAndUnitTileAndCurrentTime" resultType="io.ride.web.entity.Rent">
        SELECT *
        FROM Rent
        WHERE (GETDATE() BETWEEN StartTime AND EndTime) AND GetwayId = #{getwayId}
              AND UnitId IN (SELECT UnitId
                             FROM Unit
                             WHERE title = #{title})
    </select>

    <select id="findByUnitIdAndStartTimeAndEndTime" resultType="io.ride.web.entity.Rent">
        SELECT r.*
        FROM Rent r, Unit u
        WHERE r.UnitId = u.UnitId AND r.UnitId = #{unitId} AND
              (StartTime BETWEEN #{startTime} AND #{endTime} OR EndTime BETWEEN #{startTime} AND #{endTime})
    </select>

    <select id="findByUnitTypeAndStartTimeAndEndTime" resultType="io.ride.web.entity.Rent">
        SELECT r.*
        FROM Rent r, Unit u
        WHERE r.UnitId = u.UnitId AND r.UnitId IN (SELECT UnitId
                                                   FROM Unit
                                                   WHERE UnitType = 0) AND
              (StartTime BETWEEN #{startTime} AND #{endTime} OR EndTime BETWEEN #{startTime} AND #{endTime})
    </select>

    <select id="findByNodeMarkAndUnitId" resultType="Rent">
        SELECT *
        FROM Rent
        WHERE GetwayId IN (SELECT GetwayId
                           FROM Getway
                           WHERE GetwayMark = #{mark}) AND UnitId = #{unitId} AND
              GETDATE() BETWEEN StartTime AND EndTime;
    </select>
    <select id="listWithMark" resultType="io.ride.web.entity.Rent">
        SELECT *
        FROM Rent
        WHERE GetwayId IN (SELECT GetwayId
                            FROM Getway
                            WHERE GetwayMark = #{mark})
    </select>

</mapper>