<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.ride.web.dao.THAvgDao">

    <select id="listDayAvgForMonth" resultType="io.ride.web.entity.THAvg">
        SELECT
            NodeMark                    AS 'Mark',
            DAY(ReportTime)             AS 'ReportTime',
            avg(convert(INT, Temper))   AS 'TemperAvg',
            avg(convert(INT, Humidity)) AS 'HumidityAvg'
        FROM TemperHumid
        WHERE NodeMark = #{mark} AND MONTH(ReportTime) = #{month} AND YEAR(ReportTime) = #{year}
        GROUP BY DAY(ReportTime), NodeMark
    </select>

    <select id="listMonthAvgForYear" resultType="io.ride.web.entity.THAvg">
        SELECT
            NodeMark                    AS 'Mark',
            MONTH(ReportTime)           AS 'ReportTime',
            avg(convert(INT, Temper))   AS 'TemperAvg',
            avg(convert(INT, Humidity)) AS 'HumidityAvg'
        FROM TemperHumid
        WHERE NodeMark = #{mark} AND YEAR(ReportTime) = #{year}
        GROUP BY MONTH(ReportTime), NodeMark
    </select>

    <select id="listYearAvg" resultType="io.ride.web.entity.THAvg">
        SELECT
            NodeMark                    AS 'Mark',
            YEAR(ReportTime)            AS 'ReportTime',
            avg(convert(INT, Temper))   AS 'TemperAvg',
            avg(convert(INT, Humidity)) AS 'HumidityAvg'
        FROM TemperHumid
        WHERE NodeMark = #{mark}
        GROUP BY YEAR(ReportTime), NodeMark
    </select>

    <select id="listDayAvg" resultType="io.ride.web.entity.THAvg">
        SELECT
            NodeMark                    AS 'Mark',
            DATENAME(HOUR, ReportTime) + ':' + DATENAME(MINUTE, ReportTime) + ':' + DATENAME(SECOND, ReportTime)    AS 'ReportTime',
            Temper   AS 'TemperAvg',
            Humidity AS 'HumidityAvg'
        FROM TemperHumid
        WHERE NodeMark = #{mark} AND MONTH(ReportTime) = #{month} AND YEAR(ReportTime) = #{year} AND
              DAY(ReportTime) = #{day}
    </select>

</mapper>