<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.ride.web.dao.UserAuthorDao">
    <insert id="add">
        INSERT INTO UserAuthor (UserId, NodeId) VALUES (#{userId}, #{nodeId})
    </insert>

    <delete id="delete">
        DELETE FROM UserAuthor
        WHERE UserId = #{userId} AND NodeId = #{nodeMark}
    </delete>

    <delete id="deleteById">
        DELETE FROM UserAuthor
        WHERE UserAuthorId = #{userAuthorId}
    </delete>

    <select id="isExists" resultType="java.lang.Boolean">
        SELECT count(1)
        FROM UserAuthor
        WHERE NodeId = #{nodeId} AND UserId = #{userId}
    </select>

    <select id="list" resultType="io.ride.web.entity.UserAuthor">
        SELECT *
        FROM UserAuthor
        WHERE UserId IN (SELECT UserId
                         FROM UserInfo
                         WHERE UnitId = #{unitId})
    </select>
    <select id="findById" resultType="io.ride.web.entity.UserAuthor">
        SELECT *
        FROM UserAuthor
        WHERE UserAuthorId = #{id}
    </select>
</mapper>