<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.ride.web.dao.UserInfoDao">

    <resultMap id="userResultMap" type="UserInfo">
        <id property="userId" column="UserId"/>
        <result property="unitId" column="UnitId"/>
        <result property="name" column="Name"/>
        <result property="username" column="UserName"/>
        <result property="userType" column="UserType"/>
        <result property="password" column="Password"/>
        <result property="memo" column="Memo"/>
    </resultMap>

    <sql id="base_user">
        u.UserId,
        u.UnitId,
        u.Name,
        u.UserType,
        u.UserName,
        u.Password,
        u.Memo
    </sql>


    <insert id="addUser">
        INSERT INTO UserInfo
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="user.unitId != null">UnitId,</if>
            <if test="user.name != null">Name,</if>
            <if test="user.userType != null">UserType,</if>
            <if test="user.username != null">UserName,</if>
            <if test="user.password != null">Password,</if>
            <if test="user.memo != null">Memo,</if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=");">
            <if test="user.unitId != null">#{user.unitId},</if>
            <if test="user.name != null">#{user.name},</if>
            <if test="user.userType != null">#{user.userType},</if>
            <if test="user.username != null">#{user.username},</if>
            <if test="user.password != null">#{user.password},</if>
            <if test="user.memo != null">#{user.memo},</if>
        </trim>
    </insert>

    <update id="updateByUsername">
        UPDATE UserInfo SET
        <trim suffixOverrides=",">
            <if test="user.unitId != null">UnitId = #{user.unitId},</if>
            <if test="user.name != null">Name = #{user.name},</if>
            <if test="user.password != null">Password = #{user.password},</if>
            <if test="user.memo != null">Memo = #{user.memo},</if>
            <if test="user.userType!=null">UserType = #{user.userType},</if>
        </trim>
        WHERE UserName = #{user.username};
    </update>

    <delete id="deleteByUserId">
        DELETE FROM UserInfo
        WHERE UserId = #{id};
    </delete>

    <delete id="deleteByUsername">
        DELETE FROM UserInfo
        WHERE UserName = #{username};
    </delete>

    <select id="isAccountExists" resultType="java.lang.Boolean">
        SELECT count(1)
        FROM UserInfo
        WHERE UserName = #{username}
    </select>

    <select id="accountValidate" resultType="UserInfo" resultMap="userResultMap">
        SELECT *
        FROM UserInfo
        WHERE UserName = #{username} AND Password = #{password}
    </select>

    <select id="findByUserId" resultType="io.ride.web.entity.UserInfo">
        SELECT *
        FROM UserInfo
        WHERE UserId = #{id};
    </select>

    <select id="findByUsername" resultType="io.ride.web.entity.UserInfo">
        <choose>
            <when test="userType == 0">
                SELECT *
                FROM UserInfo
                WHERE UserName = #{username};
            </when>
            <otherwise>
                SELECT u.* FROM UserInfo u, Unit unit WHERE u.UnitId = unit.UnitId AND UserName = #{username} and
                u.UnitId = #{unitId}
            </otherwise>
        </choose>

    </select>

    <select id="list" resultType="io.ride.web.entity.UserInfo">
        SELECT *
        FROM UserInfo
    </select>

    <select id="listFromUnit" resultType="io.ride.web.entity.UserInfo">
        SELECT UserInfo.*
        FROM UserInfo, Unit
        WHERE  UserInfo.UnitId = Unit.UnitId and UserInfo.UnitId = #{unitId}
    </select>
    <select id="findFromUnitWithUserId" resultType="io.ride.web.entity.UserInfo">
        SELECT *
        FROM UserInfo
        WHERE UserId = #{userId} AND UnitId = #{unitId};
    </select>

    <select id="findFromUnitWithUsername" resultType="io.ride.web.entity.UserInfo">
        SELECT *
        FROM UserInfo
        WHERE UserName = #{username} AND UnitId = #{unitId};
    </select>

    <select id="search" resultType="io.ride.web.entity.UserInfo">
        <choose>
            <when test="userType == 0">
                SELECT *
                FROM UserInfo
                WHERE Name LIKE '%${arg}%' OR UserName LIKE '%${arg}%'
            </when>
            <otherwise>
                SELECT *
                FROM UserInfo
                WHERE UnitId = #{unitId} AND (Name LIKE '%${arg}%' OR UserName LIKE '%${arg}%')
            </otherwise>
        </choose>
    </select>

    <select id="listUsernames" resultType="java.lang.String">
        SELECT UserName
        FROM UserInfo
        WHERE UnitId = #{id}
    </select>
</mapper>